<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        h1{
            text-align: center;
            background-color: purple;
            color:white;
            padding: 30px;
        }
    </style>
</head>
<body>
    <h1>This is Home Page</h1>

    <table>
        <tbody>
            <tr>name</tr>
            <tr>idea</tr>
        </tbody>
    </table>
</body>
</html>